@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Roboto:wght@400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100vh;
  width: 100vw;
  color: #161d1d;
  overflow: hidden;
} 

.nav-bar {
  position: relative;
  height: 4rem;
  display: flex;
  align-items: center;
  background: #fffcf7;
  justify-content: space-between;
  /* outline: 2px solid #161d1d; */
  border-bottom: 2px solid #161d1d;
}

.menuBtn {
  position: relative;
  left: 8px;
  font-size: 30px;
  display: flex;
  color: #161d1d;
  padding: 3px;
  /* outline: 1px solid red; */
  cursor: pointer;
}

.menuBtn:hover, .searchBtn:hover, .returnBtn:hover {
  background: #ebebeb;
  transition: .1s linear;
}

.searchbarCntr {
  position: relative;
  right: 12px;
  width: 14rem;
  height: 2rem;
  display: flex;
  align-items: center;
  outline: 2px solid #161d1d;
  overflow: hidden;
  border-radius: 2px;
}

.searchbar {
  position: relative;
  font-size: 17px;
  width: 85%;
  height: 100%;
  padding: 5px;
  border: none;
  background: transparent;
}

.searchbar::placeholder {
  color: #161d1d;
}

.searchBtn {
  position: relative;
  font-size: 25px;
  padding: 10px 5px;
  display: flex;
  outline: 2px solid #161d1d;
  cursor: pointer;
}

/* -- SIDEBAR  STYLES -- */

.sidebar {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fffcf7;
  outline: 1px solid  red;
}

.logoReturnBtnCntr {
  position: relative;
  /* top: 1rem; */
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 1px solid red;
}

.logoApp {
  position: relative;
  left: 10px;
  font-size: 22px;
  font-family: 'Bungee';
}

.returnBtn {
  position: relative;
  right: 10px;
  font-size: 25px;
  display: flex;
  padding: 5px;
  /* outline: 1px solid red; */
  cursor: pointer;
}

.bodypartBtn, .targetareasBtn, .equipmentBtn, .savedExercisesBtn {
  position: relative;
  top: 1rem;
  width: 100%;
  height: 100px;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  padding: 2px 0px;
  /* outline: 1px solid red; */
  cursor: pointer;
}

.bodypartBtn.active, .targetareasBtn.active, .equipmentBtn.active, .savedExercisesBtn.active {
  text-decoration: underline;  
}

.itemsViewCntr {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ebebeb;
  outline: 1px solid red;
}

.indItem {
  width: 100%;
  height: 100%;
  text-align: center;
  /* font-size: 16px; */
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 2px;
  /* padding: 10px 0px; */
  /* outline: 1px solid red; */
}

.indItem:hover {
  text-decoration: underline;
  transition: .1s linear;
}

/*
'sidebar'>

   'bodypartBtn'>Bodyparts</p>

            <div className='itemsViewCntr'>
              <p className='indItem'>Item</p>
              <p className='indItem'>Item</p>
              <p className='indItem'>Item</p>
              <p className='indItem'>Item</p>
            </div>

      
*/